a img {
	border: 0;
}

h1 {font-family:arial;}

b {font-family:arial;}

body {background-color:#bbbbbb;
background-repeat:no-repeat;
background-size:contain;
background-position:center; font-family:arial;}



td {font-family:arial; padding:5px;}

a {font-family:arial; font-size:14px; font-weight:bold;}

h1 {font-size:21px;}

a { color:#000099; }
table.sortable {
	border-spacing: 0;
	border: 1px solid #000;
	border-collapse: collapse;
}
table.sortable th, table.sortable td {
	text-align: center;
	padding: 2px 2px 2px 2px;
	width: 400px;
	border-style: solid;
	border-color: #444;
}
table.sortable th {
	border-width: 0px 1px 1px 1px;
	background-color: #ccc;
}
table.sortable td {
	border-width: 0px 1px 0px 1px;

}
table.sortable tr.odd td {
	background-color: #ddd;
}
table.sortable tr.even td {
	background-color: #fff;
}
table.sortable tr.sortbottom td {
	border-top: 1px solid #444;
	background-color: #ccc;
	font-weight: bold;
}