.dataTable.table tbody tr td {
    box-shadow: none !important;
    /* padding: 4px !important; */
    border-color: #dfdfe3 !important;
    border-top: none !important;
    font-size: 16px;
}
table.dataTable.no-footer{
    border-bottom: none !important;
}
table.dataTable thead th{
    border-color: #dfdfe3 !important;
    font-size: 16px;
}
.dataTable.table thead tr th, .dataTable.table tbody tr td{
    padding: .85rem 0.5rem!important;
}
.dataTable.table tbody tr:hover td{
    background-color: rgba(11, 10, 18, 0.075) !important;
}
.table-responsive .dataTables_wrapper .dataTables_info{
    padding-top: 20px;
}
.table-responsive .dataTables_wrapper .dataTables_paginate{padding-top: 16px;}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 8px 10px;color: #5e5e5f !important;border: none !important;
    background-color: #f5f5f6 !important;border-radius: 4px;
    margin-left: 10px;min-width: auto;font-size: 14px;line-height: 1;
    font-weight: 400;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background-color: #1d2f67 !important;
    color: #fff !important;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #1d2f67 !important;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover{
    background: #f5f5f6 !important;
}
#perkValues tbody tr td{
    padding: 0.25rem 0.25rem !important;
}

#perks tbody tr td{
    padding: 0.25rem 0.25rem !important;
}

#hotels tbody tr td{
    padding: 0.25rem 0.25rem !important;
}

#locations tbody tr td{
    padding: 0.25rem 0.25rem !important;
}